@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 152px; /* Adjust as needed */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


@media (max-width: 1600px) {
  .container {
    width: 100%; /* Adjust as needed */
  }
}

@media (max-width: 768px) {
  .logo {
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  .masterpiece {
    width: 50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .masterpiece p {
    font-size: 50%; /* Adjust font size as needed */
  }
}

@media (max-width: 768px) {
  .masterpiece2 {
    width: 70%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .masterpiece2 p {
    font-size: 10%; /* Adjust font size as needed */
  }
}

@media (max-width: 425px) {
  .masterpiece2 {
    font-size: 57%;
  }
}

@media (max-width: 425px) {
  .masterpiece {
    font-size: 100%;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 25%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 1440px) {
  .calendar {
    width: 100%; /* Adjust as needed */
    margin-left: -12%; /* Adjust as needed */
  }
}

@media (max-width: 1024px) {
  .calendar {
    width: 100%; /* Adjust as needed */
    margin-left: -37%; /* Adjust as needed */
  }
}

@media (max-width: 0px) {
  .titlestart {
   
    
  }
}

@media (max-width: 1600px) {
  .buttonone {
    width: 100%; /* Adjust as needed */
    margin-right: 100px; /* Adjust as needed */
  }
}

@media (max-width: 425px) {
  .section2 {
    width: 160%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 80%; /* Reset margin-right */
    transform: scale(1.0); /* Scale down to 80% */
  }
}

@media (max-width: 768px) {
  .section1 {
    width: 100%; /* Adjust width as needed */
    height: 10%; /* Maintain aspect ratio */
    margin-left: 47%; /* Reset margin-right */
    transform: scale(0.8); /* Scale down to 80% */
  }
}

@media (max-width: 430px) {
  .section1 {
    width: 150%; /* Adjust width as needed */
    height: 10%; /* Maintain aspect ratio */
    margin-left: 41%; /* Reset margin-right */
    transform: scale(0.7); /* Scale down to 80% */
  }
}

@media (max-width: 430px) {
  .bannerpic {
    width: 40%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10%; /* Reset margin-right */
    transform: scale(0.7); /* Scale down to 80% */
  }
}


@media (max-width: 430px) {
  .bannerbackground {
    margin-left: 1%; /* Reset margin-right */
    transform: scale(0.6); /* Scale down to 80% */
    margin-top: -4%; /* Move up */
  }
}

@media (max-width: 1440px) {
  .booking {
    width: 100%; /* Adjust width as needed */
    
    margin: 0 auto; /* Set horizontal margin to auto */
    display: block; /* Ensure it behaves as a block-level element */
  }
}

@media (max-width: 1024px) {
  .booking {
    width: 100%; /* Adjust width as needed */
    margin-left: -22%; /* Set horizontal margin to auto */
    display: block; /* Ensure it behaves as a block-level element */
  }
}

@media (max-width: 768px) {
  .booking {
    width: 100%; /* Adjust width as needed */
    margin-left: -42%; /* Set horizontal margin to auto */
    display: block; /* Ensure it behaves as a block-level element */
  }
}

@media (max-width: 430px) {
  .booking {
    width: 180%; /* Adjust width as needed */
    transform: scale(0.7); /* Scale down to 80% */
    margin-left: -110%; /* Set horizontal margin to auto */
    display: block; /* Ensure it behaves as a block-level element */
  }
}


@media (max-width: 768px) {
  .hero2 {
    transform: scale(0.8); /* Scale down to 80% */
  }
}

@media (max-width: 430px) {
  .hero2 {
    transform: scale(0.6); /* Scale down to 60% */
    font-size: 80%; /* Adjust font size to 80% of the original */
  }
}


@media (max-width: 768px) {
  .bannertext1 {
    transform: scale(0.8); /* Scale down to 60% */
    margin-left: -5%; /* Set horizontal margin to auto */
  }
}

@media (max-width: 768px) {
  .bannertext2 {
    transform: scale(0.8); /* Scale down to 60% */
    margin-left: -5%; /* Set horizontal margin to auto */
  }
}

@media (max-width: 430px) {
  .bannertext1 {
    transform: scale(0.7); /* Scale down to 60% */
    margin-left: -30%; /* Set horizontal margin to auto */
    margin-top: -5%; /* Move up */
  }
}

@media (max-width: 430px) {
  .bannertext2 {
    transform: scale(0.8); /* Scale down to 60% */
    margin-left: -14%; /* Set horizontal margin to auto */
    margin-top: -5%; /* Move up */
    font-size: 80%; /* Adjust font size to 80% of the original */
    transform: scale(0.8); /* Scale down to 60% */
    width: 23%; /* Adjust width as needed */
  }
}

@media (max-width: 430px) {
  .bookingcard {
    transform: scale(0.8); /* Scale down to 60% */
    margin-left: -58%; /* Set horizontal margin to auto */
    margin-top: -15%; /* Move up */
    font-size: 80%; /* Adjust font size to 80% of the original */
    transform: scale(0.8); /* Scale down to 60% */
    width: 105%;
  }

}
@media (max-width: 430px) {
  .booking{
    transform: scale(0.4); /* Scale down to 60% */
    margin-top: -15%; /* Move up */
  }
}

@media (max-width: 430px) {
  .brandingdeal {
    transform: scale(0.8); /* Scale down to 60% */
    margin-left: -50%; /* Set horizontal margin to auto */
    margin-top: -15%; /* Move up */
    font-size: 80%; /* Adjust font size to 80% of the original */
    
  }
}